VITE_APP_ENV=development
VITE_FIREBASE_PROJECT_ID=demo-patterns-gups
VITE_FIREBASE_USE_EMULATOR=true
VITE_FIREBASE_ALLOW_PRODUCTION=false
VITE_FIREBASE_EMULATOR_HOST=127.0.0.1
VITE_FIREBASE_ALLOW_LAN=false
VITE_FIRESTORE_EMULATOR_PORT=8080
VITE_AUTH_EMULATOR_PORT=9099
